:root{--handler:4px;--padding:1rem;--bg-color:#fcfcfa;--block-color:#ddd;--border-color:#bdbdbd;--primary:#f14e32;--accent:#0388a6}
*{box-sizing:border-box;scrollbar-width:thin}
html{line-height:1.15;-webkit-text-size-adjust:100%;font-size:12px;margin:0 0;padding:0 0}
body{font-size:inherit;height:100vh;width:100vw;padding:0 0;display:flex;overflow-y:hidden;margin:0 0;flex-direction:column;font-family:helvetica neue,helvetica,sans-serif;background:var(--bg-color);overflow-x:hidden;background:var(--bg-color);max-height:100vh;gap:1rem 0}
main{height:100%;width:100%;align-self:end;z-index:10;position:relative;top:0;padding:0 var(--padding);max-height:82%}
h1{font-size:2rem;margin:0 0;padding:0 0;position:sticky;top:0}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1rem}
a{color:inherit;text-decoration-thickness:2.5px;text-underline-offset:1px;text-decoration-skip-ink:none}
textarea{outline:0;scrollbar-width:thin;height:100%;width:100%;font-family:monospace;line-height:1.1;font-size:.8rem;resize:none;min-width:100px;z-index:1000;margin:0 0;padding:.5rem;padding-top:0;top:0;border:1px solid var(--block-color);max-width:calc(100vw - (var(--padding)*2));max-height:100%;background:var(--bg-color);border-top:5px solid var(--bg-color)}
header{background:var(--bg-color);display:flex;justify-content:space-between;align-items:center;padding:.35rem var(--padding);color:var(--border-color);font-size:90%}
h1{color:var(--block-color)}
footer{color:var(--border-color);z-index:1;padding:0 var(--padding)}
p{padding:0 0;margin:0 0}
.hidden,[hidden]{display:none!important}
.container{display:flex;width:100%;position:relative;height:100%;/*! flex-wrap: wrap; */max-height:unset;min-height:100%}
#pasteclip{top:0;z-index:-1;height:100%;width:100%;outline:0;position:absolute}
.box{box-sizing:border-box;flex-grow:1;max-width:100vw;width:100%;position:relative;z-index:10;min-height:100%;top:0}
.handler{width:12px;padding:0;cursor:ew-resize;z-index:10;margin:auto auto;height:100%;display:block;border-left:var(--handler) solid;border-right:var(--handler) solid;border-color:transparent}
.handler::before{content:"";display:block;width:3px;height:100%}
.box{min-width:200px;position:relative;max-height:100%;border:1px solid var(--block-color)}
textarea{border:.5rem solid var(--bg-color);border-left:0;border-right:0;padding-top:1.25rem}
.handler:hover{--block-color:var(--accent)}
.handler:before{background:var(--block-color)}
.box:before{content:attr(id);text-transform:uppercase;position:absolute;top:0;z-index:2000;line-height:1;box-sizing:border-box;display:block;color:var(--border-color);overflow-x:hidden;font-size:.9rem;padding:.25rem .5rem;background:var(--bg-color);width:unset;border-right:0}
main{flex:10}
@media (max-width:600px){
body{max-height:100vh;--padding:.5rem;--handler:0}
.container{flex-direction:column!important}
.handler{min-width:100%;height:12px;cursor:row-resize;border-bottom:4px solid var(--bg-color);border-top:4px solid var(--bg-color)}
.handler:before{width:100%;height:4px;box-sizing:border-box}
.box{min-width:100%;height:100%;min-height:min(100px,20vh);max-width:calc(100vw - (var(--padding)*2))}
}
@media screen and (max-height:400px){
header :not(h1){display:none}
footer,header{display:none}
main{margin:auto auto;max-height:92%;top:0}
.container{display:flex;flex-direction:row}
}
@media (min-width:600px){
.wrapper{max-width:100vw}
}